@page "/"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage

@implements IDisposable
@code
{

    public bool IsLogin { get; set; }
    public RegisterDto RegisterDto { get; set; } = new();
    public string RegisterMessage { get; set; } = string.Empty;
    public string RegisterMessageClass { get; set; } = string.Empty;

    public LoginDto LoginDto { get; set; } = new();
    public string LoginMessage { get; set; } = string.Empty;

    public List<long> OnlineUserId { get; set; } = new();


    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;


        if (user.Identity is { IsAuthenticated: true })
        {
            IsLogin = true;


            var email = user.Identity.Name;

            var hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/chatHub?username="+email))
                .Build();

            await hubConnection.StartAsync();

            await hubConnection.InvokeAsync("SendMessage", long.Parse("1"), "salam");

            hubConnection.On<string,string>("ReceiveMessage", (senderId, message) =>
            {
                Console.WriteLine(message);
            });

            OnlineUserId = await hubConnection.InvokeAsync<List<long>>("GetOnlineUsers");

    //hubConnection.On<long,string,string>("getNewMessage", (senderId,message,date) =>
    //{
    //    Console.WriteLine(message + " | Date : "+date);
    //});

        }
    }

    async Task HandleRegisteration()
    {
        var result = await AuthService.Register(RegisterDto);
        RegisterMessage = result.Message;
        RegisterMessageClass = result.Success ? "text-success" : "text-danger";


    }

    async Task HandleLogin()
    {
        var result = await AuthService.Login(LoginDto);
        LoginMessage = "Loading ...";
        if (result.Success)
        {

            await LocalStorage.SetItemAsync("authToken", result.Data);
            await AuthenticationStateProvider.GetAuthenticationStateAsync();
            LoginMessage = string.Empty;
            NavigationManager.NavigateTo(NavigationManager.Uri, true);
        }
        else
        {
            LoginMessage = result.Message;
        }

    }

    public void Dispose()
    {

    }
}

@if (IsLogin)
{
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
          rel="stylesheet" />


    <div class="container">


        <div class="content-wrapper">
            <div class="row gutters">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="card m-0">
                        <div class="row no-gutters">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                                <div class="users-container">
                                    <div class="chat-search-box">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Search" />
                                            <div class="input-group-btn">
                                                <button type="button" class="btn btn-info">
                                                    <i class="fa fa-search"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <ul class="users">
                                        <li class="person" data-chat="person1">
                                            <div class="user">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                                     alt="Retail Admin" />
                                                <span class="status busy"></span>
                                            </div>
                                            <p class="name-time">
                                                <span class="name">Steve Bangalter</span>
                                                <span class="time">15/02/2019</span>
                                            </p>
                                        </li>
                                        <li class="person" data-chat="person1">
                                            <div class="user">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar1.png"
                                                     alt="Retail Admin" />
                                                <span class="status offline"></span>
                                            </div>
                                            <p class="name-time">
                                                <span class="name">Steve Bangalter</span>
                                                <span class="time">15/02/2019</span>
                                            </p>
                                        </li>
                                        <li class="person active-user" data-chat="person2">
                                            <div class="user">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar2.png"
                                                     alt="Retail Admin" />
                                                <span class="status away"></span>
                                            </div>
                                            <p class="name-time">
                                                <span class="name">Peter Gregor</span>
                                                <span class="time">12/02/2019</span>
                                            </p>
                                        </li>
                                        <li class="person" data-chat="person3">
                                            <div class="user">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                                     alt="Retail Admin" />
                                                <span class="status busy"></span>
                                            </div>
                                            <p class="name-time">
                                                <span class="name">Jessica Larson</span>
                                                <span class="time">11/02/2019</span>
                                            </p>
                                        </li>
                                        <li class="person" data-chat="person4">
                                            <div class="user">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar4.png"
                                                     alt="Retail Admin" />
                                                <span class="status offline"></span>
                                            </div>
                                            <p class="name-time">
                                                <span class="name">Lisa Guerrero</span>
                                                <span class="time">08/02/2019</span>
                                            </p>
                                        </li>
                                        <li class="person" data-chat="person5">
                                            <div class="user">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar5.png"
                                                     alt="Retail Admin" />
                                                <span class="status away"></span>
                                            </div>
                                            <p class="name-time">
                                                <span class="name">Michael Jordan</span>
                                                <span class="time">05/02/2019</span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                                <div class="selected-user">
                                    <span>To: <span class="name">Emily Russell</span></span>
                                </div>
                                <div class="chat-container">
                                    <ul class="chat-box chatContainerScroll">
                                        <li class="chat-left">
                                            <div class="chat-avatar">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                                     alt="Retail Admin" />
                                                <div class="chat-name">Russell</div>
                                            </div>
                                            <div class="chat-text">
                                                Hello, I'm Russell.
                                                <br />
                                                How can I help you today?
                                            </div>
                                            <div class="chat-hour">
                                                08:55 <span class="fa fa-check-circle"></span>
                                            </div>
                                        </li>
                                        <li class="chat-right">
                                            <div class="chat-hour">
                                                08:56 <span class="fa fa-check-circle"></span>
                                            </div>
                                            <div class="chat-text">
                                                Hi, Russell
                                                <br />
                                                I need more information about Developer Plan.
                                            </div>
                                            <div class="chat-avatar">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                                     alt="Retail Admin" />
                                                <div class="chat-name">Sam</div>
                                            </div>
                                        </li>
                                        <li class="chat-left">
                                            <div class="chat-avatar">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                                     alt="Retail Admin" />
                                                <div class="chat-name">Russell</div>
                                            </div>
                                            <div class="chat-text">
                                                Are we meeting today?
                                                <br />
                                                Project has been already
                                                finished and I have results to show you.
                                            </div>
                                            <div class="chat-hour">
                                                08:57 <span class="fa fa-check-circle"></span>
                                            </div>
                                        </li>
                                        <li class="chat-right">
                                            <div class="chat-hour">
                                                08:59 <span class="fa fa-check-circle"></span>
                                            </div>
                                            <div class="chat-text">
                                                Well I am not sure.
                                                <br />
                                                I have results to show you.
                                            </div>
                                            <div class="chat-avatar">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar5.png"
                                                     alt="Retail Admin" />
                                                <div class="chat-name">Joyse</div>
                                            </div>
                                        </li>
                                        <li class="chat-left">
                                            <div class="chat-avatar">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                                     alt="Retail Admin" />
                                                <div class="chat-name">Russell</div>
                                            </div>
                                            <div class="chat-text">
                                                The rest of the team is not here yet.
                                                <br />
                                                Maybe in
                                                an hour or so?
                                            </div>
                                            <div class="chat-hour">
                                                08:57 <span class="fa fa-check-circle"></span>
                                            </div>
                                        </li>
                                        <li class="chat-right">
                                            <div class="chat-hour">
                                                08:59 <span class="fa fa-check-circle"></span>
                                            </div>
                                            <div class="chat-text">
                                                Have you faced any problems at the last phase of the
                                                project?
                                            </div>
                                            <div class="chat-avatar">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar4.png"
                                                     alt="Retail Admin" />
                                                <div class="chat-name">Jin</div>
                                            </div>
                                        </li>
                                        <li class="chat-left">
                                            <div class="chat-avatar">
                                                <img src="https://www.bootdey.com/img/Content/avatar/avatar3.png"
                                                     alt="Retail Admin" />
                                                <div class="chat-name">Russell</div>
                                            </div>
                                            <div class="chat-text">
                                                Actually everything was fine.
                                                <br />
                                                I'm very excited
                                                to show this to our team.
                                            </div>
                                            <div class="chat-hour">
                                                07:00 <span class="fa fa-check-circle"></span>
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="form-group mt-3 mb-0">
                                        <textarea class="form-control"
                                                  rows="3"
                                                  placeholder="Type your message here..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <section class="h-100">
        <div class="container h-100">
            <div class="row justify-content-sm-center h-100">
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4">Register</h1>
                            <EditForm model="RegisterDto" OnValidSubmit="HandleRegisteration">
                                <DataAnnotationsValidator />


                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="register-name">Name</label>
                                    <InputText id="register-name" @bind-Value="RegisterDto.Name" class="form-control" />
                                    <ValidationMessage For="() => RegisterDto.Name" />
                                </div>

                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="register-email">Email</label>
                                    <InputText id="register-email" @bind-Value="RegisterDto.Email" class="form-control" />
                                    <ValidationMessage For="() => RegisterDto.Email" />
                                </div>

                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="register-email">Password</label>
                                    <InputText type="password" id="register-password" @bind-Value="RegisterDto.Password" class="form-control" />
                                    <ValidationMessage For="() => RegisterDto.Password" />
                                </div>

                                <div class="align-items-center d-flex">
                                    <button type="submit" class="btn btn-primary">
                                        Register
                                    </button>
                                </div>

                                <div class="@RegisterMessageClass">
                                    <span>@RegisterMessage</span>
                                </div>
                                <ValidationSummary />
                            </EditForm>
                        </div>

                    </div>

                </div>
                <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">

                    <div class="card shadow-lg">
                        <div class="card-body p-5">
                            <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
                            <EditForm Model="LoginDto" OnValidSubmit="HandleLogin">
                                <DataAnnotationsValidator />

                                <div class="mb-3">
                                    <label class="mb-2 text-muted" for="login-email">Email</label>
                                    <InputText id="login-email" @bind-Value="LoginDto.Email" class="form-control" />

                                </div>

                                <div class="mb-3">
                                    <div class="mb-2 w-100">
                                        <label class="text-muted" for="login-password">Password</label>

                                    </div>
                                    <InputText id="login-password" type="password" @bind-Value="LoginDto.Password" class="form-control" />

                                </div>

                                <div class="d-flex align-items-center">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                </div>
                                <ValidationSummary />
                                <p class="text-danger">@LoginMessage</p>
                            </EditForm>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
}